 <launch>

  <include file="$(find leo_gazebo)/launch/leo_gazebo.launch"
           pass_all_args="true">
    <arg name="world_name" value="$(find leo_drive)/world/lab.world"/>
      <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="1.0"/>
  <arg name="R" default="0.0"/>
  <arg name="P" default="0.0"/>
  <arg name="Y" default="0.0"/>
  </include>

</launch>
